/*
##############################
# Waybar Styles
##############################
*/
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 10px;
}

/* @import "/home/maccan/.config/waybar/themes/maccan.css"; */
/* @import "/home/maccan/.config/waybar/themes/Gruvbox-Retro.css"; */
@import "/home/maccan/.config/waybar/themes/rose-pine-moon.css";

window#waybar {
    background: @bar-bg;
    border-radius: 7px;
}

tooltip {
    background: @surface;
    color: @text;
    border-radius: 7px;
    padding-right: 3px;
}

#workspaces button {
    box-shadow: none;
	  text-shadow: none;
    padding: 0px;
    border-radius: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @text;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @pine;
    color: @highlightMed;
    margin-left: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @foam;
    color: @highlightMed;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	  text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @text;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: @pine;
    color: @highlightMed;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @foam;
    color: @text;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery,
#bluetooth,
#custom-luminance,
#custom-cliphist,
#clock,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-mode,
#mpris,
#network,
#custom-power,
#custom-controlcenter,
#pulseaudio,
#custom-spotify,
#taskbar,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-appmenu,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @text;
    background: @surface;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-appmenu{
    border: none;
    border-radius: 0px;
    padding-left: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

#custom-r_end {
    border-radius: 0px 9px 9px 0px;
    margin-right: 5px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 9px 0px 0px 9px;
    margin-left: 5px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 5px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 5px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 5px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 5px;
    padding-left: 3px;
}
