@theme "~/.config/rofi/themes/nordic-mist.rasi"

configuration {
    show-icons: true;
    location:   0;
    font:       "JetBrainsMono Nerd Font 1";
}

window {
    width:        85%;
    transparency: "real";
    border-radius: 10px;
}

mainbox {
    children: [inputbar, listview];
    spacing:  8px;
    padding:  8px;
}

inputbar {
    padding: 6px 10px;
}

listview {
    columns:      6;
    lines:        2;
    scrollbar:    false;
    fixed-height: false;
    spacing:      8px;
    padding:      8px;
}

element {
    orientation:  vertical;
    padding:      6px;
    border-radius: 8px;
}

element-icon {
    size: 160px;
}

element-text {
    font:       "JetBrainsMono Nerd Font 0";
    text-color: transparent;
}
