---
# vim: set filetype=yaml.ansible : #

- name: NerdFonts | ensure fonts directory
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.local/share/fonts/NerdFonts"
    state: directory
    mode: "0755"

- name: NerdFonts | JetBrainsMono exists
  ansible.builtin.stat:
    path: "{{ ansible_facts['user_dir'] }}/.local/share/fonts/NerdFonts/JetBrainsMonoNerdFont-Regular.ttf"
  register: nerdfonts_stat_result

- name: NerdFonts | Download JetBrainsMono
  when: not nerdfonts_stat_result.stat.exists
  ansible.builtin.unarchive:
    src: "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ nerdfonts_jetbrainsmono_version }}/JetBrainsMono.zip"
    dest: "{{ ansible_facts['user_dir'] }}/.local/share/fonts/NerdFonts/"
    remote_src: true
