---
# vim: set filetype=yaml.ansible : #

- name: "Kitty | Install Debian"
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    name: kitty
    state: present
  become: true

- name: "Kitty | Install RedHat"
  when: ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.dnf5:
    name: kitty
    state: present
  become: true

- name: "Kitty | Copy config files"
  when: ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.copy:
    src: "{{ role_path }}/files/"
    dest: "{{ ansible_facts['user_dir'] }}/.config/kitty/"
    mode: "0644"
    directory_mode: "0755"
