---
# vim: set filetype=yaml.ansible : #

- name: TMUX | Dependencies Debian
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    name:
      - tmux
      - git
    state: present
  become: true

- name: TMUX | Dependencies RedHat
  when: ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.dnf5:
    name:
      - tmux
      - git
    state: present
  become: true

- name: TMUX | Cloning tmux plugin manager
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm
    version: master

- name: TMUX | Config folder
  when: ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_facts['user_dir'] }}/.config/tmux"
    state: directory

- name: TMUX | Copy config file
  ansible.builtin.copy:
    src: "tmux.conf"
    dest: "{{ ansible_facts['user_dir'] }}/.config/tmux"
    mode: "0644"
  when: ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'

- name: TMUX | Install plugins
  ansible.builtin.shell:
    cmd: "{{ ansible_facts['user_dir'] }}/.tmux/plugins/tpm/bin/install_plugins"
  register: script_run
  changed_when: "'Installing' in script_run.stdout"
