---
# vim: set filetype=yaml.ansible : #

- name: "Neovim | Dependencies Debian"
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    name:
      - git
      - make
      - curl
      - ripgrep
      - fd-find
      - gcc
      - nodejs
      - neovim
      - figlet
    state: present
  become: true

- name: "Neovim | Dependencies RedHat"
  when: ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.dnf5:
    name:
      - git
      - make
      - curl
      - ripgrep
      - fd-find
      - gcc
      - gcc-c++
      - nodejs
      - neovim
      - figlet
    state: present
  become: true

- name: "Neovim | Install Debian"
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.apt:
    name: neovim
    state: present
  become: true

- name: "Neovim | Install RedHat"
  when: ansible_facts['os_family'] == 'Debian'
  ansible.builtin.dnf5:
    name: neovim
    state: present
  become: true

- name: "Neovim | Config folder"
  when: ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    state: directory

- name: "Neovim | Copy config files"
  when: ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'
  ansible.builtin.copy:
    src: "{{ role_path }}/files/"
    dest: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    mode: "0644"
